.CreditCardForm {
  // background: #4dd16a;
  padding: 24px 32px;
  background-color: #f0f0f0;

  & &__formArea {
    padding: 8px 16px;
    background-color: #ffffff;
  }

  & &__inputArea {
    display: flex;
    flex-direction: column;
    padding: 12px;
  }

  & &__label {
    font-size: 12px;
    margin-right: 12px;
  }

  & &__inputCardNumber {
    border: 1.2px solid #f0f0f0;
  }

  & &__dateSelectBox {
  }

  & &__select {
    border: 1.2px solid #f0f0f0;
    margin-right: 8px;
  }
}
