.CreditCard {
  text-shadow: #222222 0.1px 0.1px;
  transform-style: preserve-3d;
  min-width: 780px;
  min-height: 530px;
  border-radius: 40px;
  color: #f0f0f0;

  &__front {
    box-shadow: #666666 0px 4px 12px;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: url("../../../images/card.jpg");
    object-fit: cover;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: all 2s;
  }

  &__activeBorder {
    position: absolute;
    border: solid 3px white;
    transition: all 0.5s;
    width: 0;
    height: 0;
    opacity: 0;
    top: 50%;
    left: 50%;

    &--number {
      width: 680px;
      height: 50px;
      top: 38%;
      left: 12px;
      transition: all 0.5s;
      opacity: 1;
    }

    &--name {
      width: 250px;
      height: 60px;
      top: 60%;
      left: 18px;
      transition: all 0.5s;
      opacity: 1;
    }

    &--date {
      width: 250px;
      height: 40px;
      left: 18px;
      top: 80%;
      transition: all 0.5s;
      opacity: 1;
    }

    &--cwr {
      width: 150px;
      height: 40px;
      top: calc(50% + 36px);
      left: 80%;
      border-color: black;
      transition: all 1s;
      opacity: 1;
    }
  }

  &__front--reverce {
    transform: rotateY(180deg);
  }

  &__frontCardNumber {
    position: absolute;
    top: 40%;
    left: 18px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 12px;
    overflow: hidden;
    height: 36px;
  }

  $spanHeight: 32px;

  &__frontCardNumberDisplay {
    display: inline-flex;
    flex-direction: column;
    height: $spanHeight;
    line-height: $spanHeight;
  }

  &__frontCardNumberDisplayRowPart {
    display: block;
    opacity: 1;
    transform: translateY(-$spanHeight);
    transition: all 1s ease-out;
  }

  &__frontCardNumberDisplayRowPart--anim {
    display: block;
    opacity: 0;
    transform: translateY(0px);
    transition: all 1s ease-out;
  }

  &__frontCardNumberHiddenRowPart {
    display: block;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-out;
  }

  &__frontCardNumberHiddenRowPart--anim {
    display: block;
    opacity: 0;
    transform: translateY(-$spanHeight);
    transition: all 1s ease-out;
  }

  &__frontCardNumber--error {
    color: #f00000;
  }

  &__frontCartdNumberPart--margin {
    letter-spacing: 82px;
  }

  &__frontName {
    position: absolute;
    font-size: 32px;
    top: 60%;
    left: 18px;
    display: flex;
    flex-direction: column;
  }

  &__frontNameLabel {
    font-size: 18px;
  }

  &__frontDate {
    font-size: 28px;
    position: absolute;
    left: 18px;
    top: 80%;
  }

  // card裏面
  &__back {
    box-shadow: #666666 0px 4px 12px;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #333333;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: all 2s;
    border-radius: inherit;
  }

  &__back--reverse {
    transform: rotateY(0deg);
  }

  &__backBar {
    position: absolute;
    top: calc(20% + 18px);
    background-color: black;
    height: 46px;
    width: 100%;
  }

  &__backCwr {
    position: absolute;
    top: calc(50% + 18px);
    background-color: #fff;
    border-radius: 20px;
    padding: 32px;
    text-align: right;
    color: #222222;
    font-size: 18px;
    height: 36px;
    width: 100%;
  }

  &__backCwr--error {
    color: red;
  }
}
