.CreditCard {
  background: url("../../../images/card.jpg");
  object-fit: cover;
  min-width: 800px;
  min-height: 600px;
  border-radius: 40px;
  position: relative;
  color: #f0f0f0;
  text-shadow: #222222 0.1px 0.1px;

  & &__cardNumber {
    position: absolute;
    top: 40%;
    left: 18px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 12px;
    overflow: hidden;
    height: 36px;
  }

  $spanHeight: 32px;
  & &__cardNumberDisplay {
    display: inline-flex;
    flex-direction: column;
    height: $spanHeight;
    line-height: $spanHeight;
  }

  & &__cardNumberDisplayRowPart {
    display: block;
    opacity: 1;
    transform: translateY(-$spanHeight);
    transition: all 1s ease-out;
  }

  & &__cardNumberDisplayRowPart--anim {
    display: block;
    opacity: 0;
    transform: translateY(0px);
    transition: all 1s ease-out;
  }

  & &__cardNumberHiddenRowPart {
    display: block;
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-out;
  }

  & &__cardNumberHiddenRowPart--anim {
    display: block;
    opacity: 0;
    transform: translateY(-$spanHeight);
    transition: all 1s ease-out;
  }

  & &__cardNumber--error {
    color: #f00000;
  }

  & &__cartdNumberPart--margin {
    letter-spacing: 82px;
  }

  & &__name {
    position: absolute;
    font-size: 32px;
    top: 60%;
    left: 18px;
    display: flex;
    flex-direction: column;
  }

  & &__nameLabel {
    font-size: 18px;
  }

  & &__date {
    font-size: 28px;
    position: absolute;
    left: 18px;
    bottom: 10%;
  }
}
